*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(fundal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
    background-position: 0px -250px;
    
    background-color: rgb(4, 3, 61);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.titlu{
    margin-top: 100px;
    text-align: center;
    font-size: 70px;
}
.subtitlu{
    padding-top: 20px;
    font-size: 20px;
}

.informatii{
    position: absolute;
    background-color: white;
    width: 99.9%;
    height: 250px;
    bottom: 0;
    border: solid 1px white;
    border-radius: 20px 20px 0px 0px;
    color: rgb(4,3,61);
}

.contacte{
    position: absolute;
    bottom: 0;
    margin-left: 30%;
    list-style: none;
}

.contacte li{
    display: inline-block;
    margin-right: 20px;
}

.fTitlu{

    text-align: center;
}

.despreMine{
    float: left;
    margin-left: 10%;
    margin-top: 3%;
    font-size: 150%;
}

.siteuri{
    float: right;
    margin-right: 12%;
    margin-top: 5%;
    font-size: 150%;
    list-style: none;
}

.tedi{
    margin-top: 2%;
    text-align: center;
    font-size: 400%;
}

.test1{
    margin-left: 9%;
    margin-top: 1%;
}

.locatie{
    text-align: center;
    font-size: 400%;
    margin-top: 2%;
}

.locatie2{
    text-align: center;
    margin-top: 3%;
}